#Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a="mustaqeem",[1,2,3,"sayyed",45.22j,False,],54.11,(645,"sm",True)

In [2]:
type(a[0])

str

In [3]:
type(a[1])

list

In [4]:
type(a[2])

float

In [5]:
type(a[3])

tuple

#Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
        What will be the data type of the above given variable.

In [6]:
var1 =""

In [7]:
type(var1)

str

In [8]:
var2 = '[ DS , ML , Python]'

In [9]:
type(var2)

str

In [10]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [11]:
type(var3)

list

In [12]:
var4 = 1

In [13]:
type(var4)

int

var1 is string
var2 is string
var3 is list
var4 is integer

#Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [14]:
40/5

8.0

/ is use for divide operation
as above example 40 divide by 5 answer is 8

In [15]:
40%7

5

% is use to show the remainder after deviding
for example if 40 is divide by 7 quotient is 5 and remainder is also 5 as shown in above example

In [16]:
10//3

3

// is used to show the floor division
floor division convert the non-integer number into integer
for example 10 divide by 3 is equal to 3.3333 now converting 3.3333 into integer then answer is 3

In [17]:
2**5

32

** is used to show power operation
for example 2^5 is write as 2**5 in python

#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [18]:
a=[9,8,7,6,"amaan",True,23.67,41+5j,"sayyed",6]

In [19]:
type(a)

list

In [22]:
len(a)

10

In [24]:

for m in a:
    print(m)
    print(type(m))

9
<class 'int'>
8
<class 'int'>
7
<class 'int'>
6
<class 'int'>
amaan
<class 'str'>
True
<class 'bool'>
23.67
<class 'float'>
(41+5j)
<class 'complex'>
sayyed
<class 'str'>
6
<class 'int'>

#Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [3]:
a = int(input('enter first Number'))
b = int(input('enter second Number'))
c = 0
d = a
while a%b == 0 and d%b == 0:
    d//=b
    c +=1
if c > 0 :
    print(f"{a} is purely divisible by {b}, {c} time's")
else:
    print(f"{a} is not purely divisible by {b}")

enter first Number 8
enter second Number 2

8 is purely divisible by 2, 3 time's





#Q6) Create a list containing 25 int type data .using for loop and if-else condition print if the element is divisible by 3 or not.

In [4]:
g=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in g:
    if i%3 == 0:
        print(f"{i} is divide by 3")
    else :
              print(f"{i} is not divide by 3")

1 is not divide by 3
2 is not divide by 3
3 is divide by 3
4 is not divide by 3
5 is not divide by 3
6 is divide by 3
7 is not divide by 3
8 is not divide by 3
9 is divide by 3
10 is not divide by 3
11 is not divide by 3
12 is divide by 3
13 is not divide by 3
14 is not divide by 3
15 is divide by 3
16 is not divide by 3
17 is not divide by 3
18 is divide by 3
19 is not divide by 3
20 is not divide by 3
21 is divide by 3
22 is not divide by 3
23 is not divide by 3
24 is divide by 3
25 is not divide by 3

#Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [10]:
""" Mutable- Mutable object means you can modify the element, example of mutable object is List
Immutable- in immutable object you can't change or modify the element, example of immutable object is tuple """

" Mutable- Mutable object means you can modify the element, example of mutable object is List\nImmutable- in immutable object you can't change or modify the element, example of immutable object is tuple "

In [12]:
"example of mutable object" 
l=[1,2,3,4,5,6,7,8,9,10]

In [13]:
l[4]="changed value"

In [14]:
l

[1, 2, 3, 4, 'changed value', 6, 7, 8, 9, 10]

In [16]:
type(l)

list

In [17]:
"example of immutable object"
t=(1,2,3,4,5,6,7,8,9,10)

In [19]:
t[2]="changed value"

TypeError: 'tuple' object does not support item assignment

In [20]:
type(t)

tuple